<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CadMaterial.Properties.Settings.connString" connectionString="Driver={IBM DB2 ODBC DRIVER};server=LOCALHOST:50000;database=PW_DATA;pwd=Password1;uid=userid"
            providerName="System.Data.Odbc" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>